/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.primaryForm {
    box-shadow: 2px 2px 7px 1px #72A48A;
    border-radius: 8px;
    max-width: 95%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4 {
    color: #333;
}

button {
    background-color: #72A48A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #5a8a6e;
    }

input[type="text"], input[type="datetime-local"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
@media (max-width: 700px) {
    .primaryForm {
        box-shadow: none;
        padding: 10px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }

    input[type="text"], input[type="datetime-local"] {
        width: calc(100% - 12px);
    }

    table, th, td {
        font-size: 14px;
    }
}
